html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: transparent !important;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

/* =========================
   PRINT ONLY
========================= */

.print-section {
  display: none;
}

@media print {

  body * {
    visibility: hidden;
  }

  .print-section,
  .print-section * {
    visibility: visible;
  }

  .print-section {
    display: flex !important;

    position: fixed;
    inset: 0;

    width: 100vw;
    height: 100vh;

    background: white;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 999999;
  }

  .hide-print {
    display: none !important;
  }

  @page {
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }
}